<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC_IM_gP4KLfDXSGo3HiVcDPCSrCHt5bFA</string>
	<key>GCM_SENDER_ID</key>
	<string>966669528146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>thinkitive.FirebaseAuthApp</string>
	<key>PROJECT_ID</key>
	<string>fir-authapp-6ce81</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-authapp-6ce81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966669528146:ios:521fb9b7a9691f541a438b</string>
</dict>
</plist>